.chat-container {
  width: 20%;
  max-width: 95%;
  background-color: rgb(75, 75, 75);
  height: calc(100vh - 5rem);
  display: flex;
  position: fixed;
  right: 0;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  color: rgba(255, 255, 255, 0.596);
}

.chat-container form {
  background: rgba(0, 0, 0, 0.15);
  /* padding: 0.25rem; */
  /* display: flex; */
  height: 5rem;
  /* box-sizing: border-box; */
  background-color: #292b2c;
  /* align-items: center; */
  /* justify-content: space-around; */
}

.chat-container form {
}

.chat-container form button {
  position: fixed;
  top: calc(5rem + (100vh - 10rem));
  right: 0;
  border: none;
  background-color: #292b2c;
  color: #b8b8b8;
  width: 2rem;
  height: 2rem;
  font-size: 24px;
  border-radius: 5px;
}

.emote-board {
  position: fixed;
  top: calc(5rem + (100vh - 10rem) - 3rem);
  right: 0;
  width: 20%;
  height: calc(32px + 12px);
  padding: 6px;
  background-color: rgba(0, 0, 0, 0.904);
  display: flex;
  justify-content: flex-start;
  align-items: start;
  box-shadow: -9px 7px 32px 5px rgba(0, 0, 0, 0.589);
}

.emote-board img {
  width: 32px;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.109);
  transition: all 0.2s;
}

.emote-board img {
  margin-right: 4px;
}

.emote-board img:hover {
  border: 1px solid rgba(255, 255, 255, 0.274);
}

.chat-container textarea {
  min-width: 100%;
  max-width: 100%;
  min-height: 5rem;
  max-height: 5rem;
  padding: 4px;
  background-color: rgb(75, 75, 75);
  color: rgba(245, 245, 245, 0.746);
  font-size: 16px;
  border: none;
  border-top: 2px solid #353636be;
  resize: none;
  overflow-y: scroll;
}

.chat-container textarea:focus {
  outline: none;
}

.chat-container form > button {
  float: right;
  z-index: 500000000;
}

.chat-container form > button:hover {
  background-color: rgb(20, 20, 20);
  color: #f0ad4e;
}

textarea::-webkit-scrollbar {
  width: 7px;
}

textarea::-webkit-scrollbar-track {
  background: #4e4e4e8f;
}

textarea::-webkit-scrollbar-thumb {
  background: #292b2c8e;
}

textarea::-webkit-scrollbar-thumb:hover {
  background: #545555a6;
}
