.chat-container {
  width: 30%;
  max-width: 95%;
  background-color: rgb(88, 88, 88);
  height: calc(100vh - 5rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  color: rgba(255, 255, 255, 0.596);
}

.chat-container form {
  background: rgba(0, 0, 0, 0.15);
  padding: 0.25rem;
  display: flex;
  height: 5rem;
  box-sizing: border-box;
  background-color: #292b2c;
  align-items: center;
  justify-content: space-around;
}

.chat-container input {
  border: none;
  height: 2rem;
  border-radius: 2rem;
  margin: 0.25rem;
  padding: 0rem 0.5rem;
  width: 70%;
  background-color: #555555;
  color: rgba(255, 255, 255, 0.596);
  font-family: 'Lato', sans-serif;
  font-size: 17px;
}

.chat-container input:focus {
  outline: none;
}

.chat-container form > button {
  cursor: pointer;
  background: #f0ad4e;
  border: none;
  padding: 0 2rem;
  height: 2.1rem;
  margin: 0.25rem;
  border-radius: 3px;
  outline: none;
  color: black;
  border-radius: 1rem;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
}

.chat-container form > button:hover {
  background-color: rgb(20, 20, 20);
  color: #f0ad4e;
}

.chat-container ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-y: scroll;
  min-height: calc(100% - 5rem);
}

.chat-container ul::-webkit-scrollbar {
  width: 7px;
}

.chat-container ul::-webkit-scrollbar-track {
  background: #4e4e4e8f;
}

.chat-container ul::-webkit-scrollbar-thumb {
  background: #292b2c8e;
}

.chat-container ul::-webkit-scrollbar-thumb:hover {
  background: #545555a6;
}

.chat-container ul > li {
  max-width: 20rem;
  padding: 1rem 1rem;
  /* overflow: hidden; */
  width: 100%;
  word-wrap: break-all;
  white-space: normal;
  overflow-wrap: break-word;
}

.chat-container ul > li p {
  display: flex;
  max-width: 20rem;
  height: fit-content;
  line-height: 1.5rem;
  word-wrap: break-all;
  white-space: normal;
  overflow-wrap: break-word;
}

.chat-container ul > li p * {
  margin: 0 2px;
}

.chat-container ul > li p *:nth-child(3) {
  margin-left: 30px;
}

.chat-container ul > li:nth-child(odd) {
  background: #efefef0e;
}
