.video-form {
  width: 70%;
  margin: 1rem auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.video-form input {
  font-weight: bold;
  text-align: center;
}

.video-form button {
  border: none;
  padding: 0.5rem;
  font-weight: bold;
}
