.player-container {
  width: 50%;
  background-color: darkslategray;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.player-controls {
  height: 2.4rem;
  background-color: darkslateblue;
  opacity: 1;
  width: 100%;
}

.player-buttons {
  height: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2%;
  padding-right: 10%;
}

.player-buttons button {
  height: 100%;
  border: none;
  background-color: rgba(1, 1, 1, 0);
  color: white;
  cursor: pointer;
}

.control-volume {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 25%;
}

.player-container video {
  width: 100%;
}

.progress-bar {
  background-color: rgb(47, 42, 85);
  height: 30%;
  cursor: pointer;
}

.progress-bar-fill {
  background-color: aqua;
  height: 100%;
  transition: all 0.1s;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: visible;
}
